.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
}

.wrapper {
    width: 100%;
    max-width: 28rem;
    margin: 0 auto;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.successMessage {
    text-align: center;
    color: #10B981;
    /* green-500 */
    margin-bottom: 1.5rem;
}

.errorMessage {
    text-align: center;
    color: #EF4444;
    /* red-500 */
    margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
    .container {
        padding-bottom: 4rem;
    }
}